body {
	background-color: #001f4f;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white ;
}

.container {
	width: 350px;
	height: 500px;
	background-color: #aaf2ff;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	border-radius: 20px;
    font-size: 1.2rem;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
	position: absolute;
	left: 50%;
	top: -60px;
	width: 300px;
	transform: translateX(-50%);
	background-color: #ff245e;
	color: #fff;
	font-weight: 100;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	font-size: 18px;
	text-align: center;
	padding: 10px;
}

.wrapper {
	padding: 20px;
}

input,
select {
	width: 80%;
	border: none;
	border-bottom: 1px solid #0074d9;
	padding: 10px;
    border-radius: 10px;
}

input:focus,
select:focus {
	border: 1px solid #0074d9;
	outline: none;
}

select {
	width: 88% !important;
}

button {
	margin: 20px auto;
	width: 150px;
	height: 50px;
	background-color: #ff3575;
	color: #fff;
	font-size: 16px;
	border: none;
	border-radius: 5px;
}

.tip {
	text-align: center;
	font-size: 18px;
	display: none;
}
